<h3 class="thin-underline">Trust Settings for {{TrustSettingsCtrl.user.username}}</h3>

<autocomplete-user-id user-id="TrustSettingsCtrl.userToTrust.user_id_trusted" username="TrustSettingsCtrl.userToTrust.username_trusted" input-placeholder="Type username to add to trust list"></autocomplete-user-id>

<div class="trust-section">
  <div class="half-column">
    <button class="fill-row" ng-click="TrustSettingsCtrl.addToTrustList()" ng-disabled="!TrustSettingsCtrl.userToTrust.user_id_trusted || TrustSettingsCtrl.trustedUserExists()">Add to Trusted Users</button>
  </div>
  <div class="half-column">
    <button class="fill-row" ng-click="TrustSettingsCtrl.addToUntrustList()" ng-disabled="!TrustSettingsCtrl.userToTrust.user_id_trusted || TrustSettingsCtrl.untrustedUserExists()">Add to Untrusted Users</button>
  </div>
</div>
<div class="trust-section">
  <div class="half-column">
    <h5>Trusted Users</h5>
    <select id="trustList" class="trust-select" ng-options="u.username_trusted for u in TrustSettingsCtrl.trustList track by u.username_trusted" ng-model="TrustSettingsCtrl.selectedTrustedUsers" multiple="multiple">
    </select>
  </div>
  <div class="half-column">
    <h5>Untrusted Users</h5>
    <select id="untrustList" class="trust-select" ng-options="u.username_trusted for u in TrustSettingsCtrl.untrustList track by u.username_trusted" ng-model="TrustSettingsCtrl.selectedUntrustedUsers" multiple="multiple">
    </select>
  </div>
</div>
